spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashoppp
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hiberante:
        format_sql: true

logging.level:
  org.hibernate.SQL: debug